<div id="cart-drawer">
    <div id="cart_drawer_ele" v-cloak>
        <div class="cart_trigger_container" @click="showCart(!cartOpen)">
            <span class="cart_trigger">
                <span class="cart_count">@{ cart.item_count }</span>
            </span>
        </div>

    </div>

    <!-- <cart-drawer :settings="settings" v-if="isMobile"/> -->
</div>
<script>
const cartData = {{ cart | json }};
const settings = {{ settings | json }};

function initVue() {
    const Vue = window.Vue;
    const Vuex = window.Vuex;

    Vue.use(Vuex);

    const el = new Vue({
        el: "#cart-drawer",
        delimiters: ['@{', '}'],
        data(){
            return {
                settings: settings,
                promo: null,
                screenWidth: window.innerWidth
            }
        },
        mounted() {
            document.addEventListener('resize', this.resized)

            store.dispatch("getCart");
            this.getPromo();

        },
        computed: {
            cartEmpty() {
                return this.cart.item_count === 0
            },
            freeProgress() {
            return (parseFloat(this.cart.total_price / 100).toFixed(2) / parseFloat(this.settings.free_shipping_threshold).toFixed(2)) * 100;
            },
            amountLeft() {
                return (parseFloat(this.settings.free_shipping_threshold).toFixed(2) - parseFloat(this.cart.total_price / 100).toFixed(2)).toFixed(2);
            },
            gwpItem() {
                return this.cart.items.filter((v) => {
                    return (v.properties && v.properties._gwp);
                });
            },
            nonGwpItems() {
                return this.cart.items.filter((v) => {
                    return (!v.properties || !v.properties._gwp);
                });
            },
            ...window.Vuex.mapState(['cart', 'cartOpen']),
            isMobile() {
                return (this.screenWidth <= 800)
            }
        },
        filters: {
            format_price: function (value) {
                if (!value) return parseFloat("0.00").toFixed(2)
                value = parseFloat(value / 100).toFixed(2);
                return value;
            },
            get_currency: function(value) {
                if(!value) return ""
                
                switch(value) {
                    case "USD":
                        return '$';
                        break;
                    case "EUR":
                        return '€';
                        break;
                    case "GBP":
                        return '£';
                        break;
                    default:
                        return '$'
                }
            },
        },
        methods: {
            getPromo() {
                const vm = this;
                window.axios.get('/products/sleeping-veil.js').then(d => {
                    vm.promo = d.data;
                });
            },
            resized() {
                this.screenWidth = window.innerWidth;

            },
            increase(key, qty) {
                store.dispatch("increaseProductQty", {
                    currQty: qty,
                    key: key
                });
            },
            decrease(key, qty) {
                store.dispatch("decreaseProductQty", {
                    currQty: qty,
                    key: key
                });
            },
            change(key, $event) {

                store.dispatch("updateProductQty", {key: key, qty: $event.target.value});
            },
            remove(i) {
                store.dispatch('removeProductByKey', { key: i})
            },
            showCart(val) {
                store.commit('changeCart', val)
            }
        },
        store: window.store
    }); 
}
window.addEventListener('DOMContentLoaded', initVue);

</script>
