<a class="product_right_cta" href="{{ product.metafields.custom_fields.right_cta_url }}" target="_blank">
  <img
    class="icon-cta"
    src="{{ product.metafields.custom_fields.right_cta_icon }}"
  />

  <p class="text">{{ product.metafields.custom_fields.right_cta_text }}</p>
</a>
