<div id="login_page" class="container h-100">
  
    <div class="forgot_form">
      {% form 'reset_customer_password' %} 
        {{ form.errors | default_errors}}
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col-12 col-md-6">
            <div class="row">
                              
              <div class="form-row col-12">
                <label for="customer_password">Password <span class="required">*</span></label>
                
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="password-icon"><i class="icon-lock icons"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" id="customer_password" name="customer[password]" aria-describedby="password-icon" autocomplete="new-password" />
                </div>
            </div>
                          
            <div class="form-row col-12">
              <label for="password_confirm">Confirm Password <span class="required">*</span></label>
              
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="password-icon"><i class="icon-lock icons"></i>
                      </span>
                  </div>
                  <input type="password" class="form-control" id="password_confirm" name="customer[password_confirmation]" aria-describedby="password-icon" autocomplete="new-password" />
              </div>
          </div>
                <div class="form-row col-12">
                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                </div>
                <div class="form-row col-12">
                    <button type="cancel" id="forgot_cancel" class="btn btn-dark btn-block">Cancel</button>
                </div>
              </div>
            </div>
          </div>
      {% endform %}
    </div>
  </div>
  