<div class="sub_footer">
    <p>&copy; {{ 'now' | date: "%Y" }} {{shop.name}}. All Rights Reserved.</p>
    <div class="policies">
        {% for policy in shop.policies %}
            <a href="{{policy.url}}" class="policy">{{policy.title}}</a>
            {% unless forloop.last == true %}
                <span class="divider">|</span>
            {% endunless %}
        {% endfor %}
    </div>
    
    <div class="attribution">
        <p><strong>Built by: </strong><a href="https://bigpresence.com/">Big Presence</a></p>
    </div>
</div>
