/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.hdxfhd { display: block; margin-right: 10px; float: left; }
.hdxfhd[contenteditable="true"] { user-select: text; }
.hdxfhd { vertical-align: baseline; word-break: break-word; }
.hdxfhd:focus { outline: none; }
.hdxfhd::after { display: inline; }
.hHSLcU > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .hHSLcU span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .hHSLcU span + span[contenteditable]:empty::after { display: inline; }
.hHSLcU ol, .hHSLcU ul { list-style-position: inside; }
.hHSLcU blockquote { font-size: inherit; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.detHrZ { margin: 0px -15px; }
.detHrZ .pf-c { padding: 15px; }
.detHrZ .blog__infos h3 a, .detHrZ .blog__image a { display: block; color: rgb(27, 28, 29); text-decoration: none; font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__infos a { color: rgb(27, 28, 29); text-decoration: none; }
.detHrZ .blog__image img { vertical-align: middle; width: 100%; }
.detHrZ .article--horizontal { display: -webkit-flex; }
.detHrZ .article--horizontal h3 { margin: 0px 0px 10px; }
.detHrZ .article--horizontal .blog__infos { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.detHrZ .article--horizontal .blog__image { flex: 1 1 0%; }
.detHrZ .blog__infos h3 { font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__metas { margin-bottom: 12px; font-size: 12px; }
.detHrZ .blog__metas span + span { margin-left: 10px; }
.detHrZ .blog__image.back { position: relative; overflow: hidden; max-width: 100%; max-height: 350px !important; }
.detHrZ.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.detHrZ.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geCFJR { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.geCFJR.prev-arrow { left: 16px; top: calc(50% - 16px); }
.geCFJR.next-arrow { right: 16px; top: calc(50% - 16px); }
.geCFJR i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.geCFJR.pf-show-nav { opacity: 1; }
@media (min-width: 992px) {
  .vHMOL .sc-qQZrP { display: none; }
}
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 1; }
.vHMOL .sc-qQZrP.prev-arrow { left: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { color: rgb(93, 107, 130); transform: none; }
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 0; }
.vHMOL .sc-qQZrP.prev-arrow { left: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { transform: none; }
.vHMOL:hover .sc-qQZrP { opacity: 1; }
.vHMOL:hover .sc-qQZrP.prev-arrow { left: 16px; }
.vHMOL:hover .sc-qQZrP.next-arrow { right: 16px; }
.SfOJX { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.SfOJX .sc-qZusK { position: relative; display: flex; flex: 1 1 auto; }
.SfOJX.pf-show-arrow .sc-qQZrP { opacity: 1; }
.SfOJX.pf-show-arrow .sc-qQZrP.prev-arrow { left: 16px; }
.SfOJX.pf-show-arrow .sc-qQZrP.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .SfOJX .sc-pHHLp { display: none; }
}
@media (min-width: 1200px) {
  .SfOJX .sc-pHHLp { display: none; }
}
.ddXVYc { position: relative; display: flex; margin-top: 10px; }
.ddXVYc .icon-left { transform: rotate(180deg); }
.ddXVYc .icon-right { right: 0px; }
.ddXVYc .icon-left:hover, .ddXVYc .icon-right:hover { opacity: 0.5; }
.ddXVYc .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.ddXVYc .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 243px; }
.ddXVYc .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.ddXVYc .pf-p-image-small-container .pf-small-img-roll .sc-psbuI { width: 30.6px; height: 38.6px; float: left; }
.ddXVYc .pf-p-image-small-container .pf-small-img-roll .sc-psbuI img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.ddXVYc .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .ddXVYc { display: none; }
}
.eAxLDs { position: relative; vertical-align: middle; width: 100%; height: 200px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eAxLDs { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eAxLDs { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .eAxLDs { display: var(--pf-d-xs); }
}
.eAxLDs img { border-radius: 4px; width: 100%; }
.eAxLDs a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .eAxLDs { margin: 0px; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.bPnfgz { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bPnfgz { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bPnfgz { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bPnfgz { grid-gap: var(--pf-s-xs); }
}
.bPnfgz.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bPnfgz.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-3276d9d0 {
		font-size: 46px;
		 font-family: "Open Sans";
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 50px;
	}
	.__pf .pf-1e548286 {
		text-align: center;
		 padding-left: 100px;
		 padding-right: 100px;
		 margin-bottom: 20px;
	}
	.__pf .pf-fc65d299 {
		padding: 0px;
		 background-color: rgb(228, 242, 250);
	}
	.__pf .pf-aad6b28b {
		font-size: 80px;
		 line-height: 70px;
		 font-family: "Open Sans";
		 font-weight: 600;
	}
	.__pf .pf-3024a984 {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-5777aad6 {
		font-weight: 700;
		 font-family: "Open Sans";
	}
	.__pf .pf-1d6b1715 {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 line-height: 1.6em;
	}
	.__pf .pf-b1a4fd3b {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 line-height: 1.6em;
	}
	.__pf .pf-03c0ebb7 {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 line-height: 1.6em;
	}
	.__pf .pf-a15289f1 {
		font-weight: 700;
		 font-family: "Open Sans";
	}
	.__pf .pf-8d28e5f7 {
		width: 800px;
		 height: auto;
		 margin-bottom: 25px;
	}
	.__pf .pf-89f11113 {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 line-height: 1.6em;
	}
	.__pf .pf-2e7e8852 {
		font-weight: 700;
		 font-family: "Open Sans";
	}
	.__pf .pf-f7712b5b {
		padding-bottom: 25px;
	}
	.__pf .pf-8852d04b {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 line-height: 1.6em;
	}
	.__pf .pf-a44e29e8 {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 line-height: 1.6em;
	}
	.__pf .pf-a580396f {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 line-height: 1.6em;
	}
	.__pf .pf-f76d7619 {
		font-weight: 700;
		 font-family: "Open Sans";
	}
	.__pf .pf-5b319fdd {
		padding-bottom: 25px;
	}
	.__pf .pf-76191680 {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 line-height: 1.6em;
	}
	.__pf .pf-c2e353e5 {
		font-weight: 700;
		 font-family: "Open Sans";
	}
	.__pf .pf-53e52639 {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 line-height: 1.6em;
	}
	.__pf .pf-fbafc0c1 {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 line-height: 1.6em;
	}
	.__pf .pf-ab75b99d {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 line-height: 1.6em;
	}
	.__pf .pf-d0ae1b2f {
		font-family: "Open Sans";
		 font-size: 15px;
		 margin-top: 0px;
		 line-height: 1.6em;
	}
	.__pf .pf-ecebabb5 {
		font-weight: 700;
		 text-align: center;
		 padding-top: 25px;
		 font-family: "Open Sans";
	}
	.__pf .pf-993dce80 {
		margin-bottom: 50px;
	}
	.__pf .pf-9e1d7292 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-7292d518 {
		padding-top: 85px;
		 padding-bottom: 85px;
	}
	.__pf .pf-3ada1751 {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 text-align: center;
	}
	.__pf .pf-175168b7 .blog__infos > h3 > a {
		font-family: Barlow;
		 font-size: 18px;
		 line-height: 1.5em;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-175168b7 > div > .blog__article {
		font-family: Barlow;
		 font-size: 13px;
		 font-weight: 400;
		 color: rgb(136, 136, 136);
	}
	.__pf .pf-037b46dc {
		background-color: rgb(248, 248, 248);
		 padding-top: 65px;
		 padding-bottom: 65px;
	}
	.__pf .pf-93cc3e81 {
		margin-bottom: 15px;
	}
	.__pf .pf-3e816d30 {
		font-size: 15px;
		 font-family: "Open Sans";
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
	}
	.__pf .pf-6d300fbe {
		font-size: 15px;
		 font-family: "Open Sans";
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 20px;
	}
	.__pf .pf-fa17975b {
		color: rgb(255, 255, 255);
		 width: 100%;
		 font-size: 15px;
		 border-radius: 2px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 font-family: "Open Sans";
		 font-weight: 400;
		 background-color: rgb(54, 180, 229);
		 text-transform: uppercase;
		 letter-spacing: 1px;
	}
	.__pf .pf-fa17975b:hover {
		background-color: rgb(54, 180, 229);
	}
	.__pf .pf-975b532f {
		display: flex;
		 flex-direction: column;
	}
	.__pf .pf-532f9d36 {
		height: 100%;
	}
	.__pf .pf-9d36993d {
		text-align: center;
		 height: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-3276d9d0 {
		font-size: 34px;
	}
	.__pf .pf-1e548286 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-9e1d7292 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-7292d518 {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-037b46dc {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-1e548286 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-9e1d7292 {
		padding-left: 50px;
		 padding-right: 50px;
	}
}
						