/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.detHrZ { margin: 0px -15px; }
.detHrZ .pf-c { padding: 15px; }
.detHrZ .blog__infos h3 a, .detHrZ .blog__image a { display: block; color: rgb(27, 28, 29); text-decoration: none; font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__infos a { color: rgb(27, 28, 29); text-decoration: none; }
.detHrZ .blog__image img { vertical-align: middle; width: 100%; }
.detHrZ .article--horizontal { display: -webkit-flex; }
.detHrZ .article--horizontal h3 { margin: 0px 0px 10px; }
.detHrZ .article--horizontal .blog__infos { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.detHrZ .article--horizontal .blog__image { flex: 1 1 0%; }
.detHrZ .blog__infos h3 { font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__metas { margin-bottom: 12px; font-size: 12px; }
.detHrZ .blog__metas span + span { margin-left: 10px; }
.detHrZ .blog__image.back { position: relative; overflow: hidden; max-width: 100%; max-height: 350px !important; }
.detHrZ.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.detHrZ.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-ec410540 {
		text-align: center;
		 font-family: "Open Sans";
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-size: 13px;
		 letter-spacing: 0.5px;
		 padding-bottom: 1em;
	}
	.__pf .pf-7ed21bed {
		text-align: center;
		 font-family: "Open Sans";
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-size: 33px;
		 padding-bottom: 0.6em;
	}
	.__pf .pf-3359bb60 {
		text-align: center;
		 font-family: "Open Sans";
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-size: 13px;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-a37edd1c {
		width: 80px;
		 height: auto;
		 margin-top: 25px;
	}
	.__pf .pf-1bed32be {
		text-align: center;
	}
	.__pf .pf-d66001f4 {
		line-height: 0.1em;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-bd1ef70b {
		font-family: "Open Sans";
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 300;
		 margin-bottom: 0px;
		 text-align: left;
	}
	.__pf .pf-75e13dad {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-3dadf42d {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-0662919a {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-919a866d {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-ce389e32 {
		text-align: left;
		 font-size: 30px;
	}
	.__pf .pf-9e325f33 {
		font-family: "Open Sans";
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 300;
		 margin-bottom: 0px;
		 text-align: left;
	}
	.__pf .pf-379ded88 {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-ed88796c {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-6834fc83 {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-fc8321d1 {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-26b86993 {
		text-align: left;
		 font-size: 30px;
	}
	.__pf .pf-17533bab {
		font-family: "Open Sans";
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 300;
		 margin-bottom: 0px;
		 text-align: left;
	}
	.__pf .pf-f4e64a0a {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-4a0a402e {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-f560238d {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-238d96b5 {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-16274451 {
		text-align: left;
		 font-size: 30px;
	}
	.__pf .pf-445159d5 {
		font-family: "Open Sans";
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 300;
		 margin-bottom: 0px;
		 text-align: left;
	}
	.__pf .pf-5e53d28d {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-d28dae39 {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-3fe10c53 {
		text-align: left;
		 font-size: 30px;
	}
	.__pf .pf-0c537433 {
		font-family: "Open Sans";
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 300;
		 margin-bottom: 0px;
		 text-align: left;
	}
	.__pf .pf-0ec226d0 {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-26d0ee93 {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-ae39d740 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-6d08c2e5 {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-c2e578bf {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-a3bafac7 {
		text-align: left;
		 font-size: 30px;
	}
	.__pf .pf-fac70973 {
		font-family: "Open Sans";
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 300;
		 margin-bottom: 0px;
		 text-align: left;
	}
	.__pf .pf-67980b27 {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-0b27df66 {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-23328e31 {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-8e31e94f {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-bf73a9e6 {
		font-family: "Open Sans";
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 300;
		 margin-bottom: 25px;
		 text-align: left;
	}
	.__pf .pf-d097a265 {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-a265d4d3 {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-99375d67 {
		font-size: 30px;
		 margin-bottom: 0px;
	}
	.__pf .pf-a91d80c6 {
		margin-bottom: 15px;
	}
	.__pf .pf-ee6d7613 {
		font-size: 13px;
		 font-family: "Open Sans";
	}
	.__pf .pf-7613a042 {
		text-align: center;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-2b8f4865 {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 text-align: center;
	}
	.__pf .pf-48650866 .blog__infos > h3 > a {
		font-family: Barlow;
		 font-size: 18px;
		 line-height: 1.5em;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-48650866 > div > .blog__article {
		font-family: Barlow;
		 font-size: 13px;
		 font-weight: 400;
		 color: rgb(136, 136, 136);
	}
	.__pf .pf-26136ddb {
		background-color: rgb(248, 248, 248);
		 padding-top: 65px;
		 padding-bottom: 65px;
	}
	.__pf .pf-acb55a19 > div > div:first-child {
		height: 300px;
	}
	.__pf .pf-07221f02 {
		margin-bottom: 10px;
		 font-family: "Open Sans";
		 font-weight: 600;
		 letter-spacing: 0.05em;
		 color: rgb(65, 182, 230);
	}
	.__pf .pf-7d4fba35 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-ba35b8b1 {
		margin-bottom: 15px;
		 font-size: 15px;
	}
	.__pf .pf-5a19c017 {
		background-color: rgb(65, 182, 230);
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 margin-left: 15px;
		 text-transform: uppercase;
		 letter-spacing: 0.05em;
		 border-radius: 0px;
	}
	.__pf .pf-5a19c017:hover {
		background-color: rgb(0, 0, 0);
		 border-radius: 0px;
	}
	.__pf .pf-d840251f {
		margin-bottom: 15px;
	}
	.__pf .pf-63a688d9 > div > div:first-child {
		height: 300px;
	}
	.__pf .pf-7da6f062 {
		margin-bottom: 10px;
		 font-family: "Open Sans";
		 font-weight: 600;
		 letter-spacing: 0.05em;
		 color: rgb(65, 182, 230);
	}
	.__pf .pf-c9de4f03 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-4f034907 {
		font-size: 15px;
		 margin-bottom: 15px;
	}
	.__pf .pf-88d99d5d {
		background-color: rgb(65, 182, 230);
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 margin-left: 15px;
		 text-transform: uppercase;
		 letter-spacing: 0.05em;
		 border-radius: 0px;
	}
	.__pf .pf-88d99d5d:hover {
		background-color: rgb(0, 0, 0);
		 border-radius: 0px;
	}
	.__pf .pf-47cc14af {
		margin-bottom: 15px;
	}
	.__pf .pf-c6484e13 > div > div:first-child {
		height: 300px;
	}
	.__pf .pf-ce33578f {
		margin-bottom: 10px;
		 font-family: "Open Sans";
		 font-weight: 600;
		 letter-spacing: 0.05em;
		 color: rgb(65, 182, 230);
	}
	.__pf .pf-f1ced0bb {
		margin-top: 0px;
		 margin-bottom: 15px;
		 font-size: 15px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-9ae5adaf {
		font-size: 15px;
		 margin-bottom: 15px;
	}
	.__pf .pf-4e134fcc {
		background-color: rgb(65, 182, 230);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 margin-left: 15px;
		 text-transform: uppercase;
		 letter-spacing: 0.05em;
	}
	.__pf .pf-4e134fcc:hover {
		background-color: rgb(0, 0, 0);
		 border-radius: 0px;
	}
	.__pf .pf-2bc9bbd0 {
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-ec410540 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-7ed21bed {
		font-size: 25px;
		 padding-left: 15px;
		 padding-right: 15px;
	}
	.__pf .pf-3359bb60 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 margin-bottom: 15px;
	}
	.__pf .pf-a37edd1c {
		margin-top: 0px;
		 width: 50px;
		 height: auto;
		 margin-bottom: 15px;
	}
	.__pf .pf-019fae1b {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-d66001f4 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-bd1ef70b {
		margin-bottom: 0px;
		 font-size: 16px;
	}
	.__pf .pf-75e13dad {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-3dadf42d {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-0662919a {
		margin: 15px 5px;
	}
	.__pf .pf-919a866d {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-ce389e32 {
		font-size: 22px;
	}
	.__pf .pf-9e325f33 {
		margin-bottom: 0px;
		 font-size: 16px;
	}
	.__pf .pf-379ded88 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-ed88796c {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-6834fc83 {
		margin: 15px 5px;
	}
	.__pf .pf-fc8321d1 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-26b86993 {
		font-size: 22px;
	}
	.__pf .pf-17533bab {
		margin-bottom: 0px;
		 font-size: 16px;
	}
	.__pf .pf-f4e64a0a {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-4a0a402e {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-f560238d {
		margin: 15px 5px;
	}
	.__pf .pf-238d96b5 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-16274451 {
		font-size: 22px;
	}
	.__pf .pf-445159d5 {
		margin-bottom: 0px;
		 font-size: 16px;
	}
	.__pf .pf-5e53d28d {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-d28dae39 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-3fe10c53 {
		font-size: 22px;
		 margin-top: 15px;
	}
	.__pf .pf-0c537433 {
		margin-bottom: 0px;
		 font-size: 16px;
	}
	.__pf .pf-0ec226d0 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-26d0ee93 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-6d08c2e5 {
		margin: 15px 5px;
	}
	.__pf .pf-c2e578bf {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-a3bafac7 {
		font-size: 22px;
	}
	.__pf .pf-fac70973 {
		margin-bottom: 0px;
		 font-size: 16px;
	}
	.__pf .pf-67980b27 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-0b27df66 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-23328e31 {
		margin: 15px 5px;
	}
	.__pf .pf-8e31e94f {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-bf73a9e6 {
		font-size: 16px;
	}
	.__pf .pf-d097a265 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-a265d4d3 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-99375d67 {
		font-size: 22px;
	}
	.__pf .pf-a91d80c6 {
		margin-bottom: 0px;
	}
	.__pf .pf-26136ddb {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-5a19c017 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-88d99d5d {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-4e134fcc {
		margin-left: 15px;
		 margin-top: 15px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-ec410540 {
		font-size: 14px;
	}
	.__pf .pf-7ed21bed {
		font-size: 33px;
	}
	.__pf .pf-3359bb60 {
		font-size: 14px;
	}
	.__pf .pf-d66001f4 {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-3dadf42d {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-919a866d {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-ed88796c {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-fc8321d1 {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-4a0a402e {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-238d96b5 {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-d28dae39 {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-26d0ee93 {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-c2e578bf {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-0b27df66 {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-8e31e94f {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-a265d4d3 {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-acb55a19 > div > div:first-child {
		height: 300px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-75e13dad {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-0662919a {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-379ded88 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-6834fc83 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-f4e64a0a {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-f560238d {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-5e53d28d {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-0ec226d0 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-6d08c2e5 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-67980b27 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-23328e31 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-d097a265 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-5a19c017 {
		margin-left: 15px;
	}
	.__pf .pf-5a19c017:hover {
		text-align: center;
	}
	.__pf .pf-88d99d5d {
		margin-left: 15px;
	}
	.__pf .pf-88d99d5d:hover {
		text-align: center;
	}
	.__pf .pf-4e134fcc {
		margin-left: 15px;
	}
	.__pf .pf-4e134fcc:hover {
		text-align: center;
	}
}
						