/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.detHrZ { margin: 0px -15px; }
.detHrZ .pf-c { padding: 15px; }
.detHrZ .blog__infos h3 a, .detHrZ .blog__image a { display: block; color: rgb(27, 28, 29); text-decoration: none; font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__infos a { color: rgb(27, 28, 29); text-decoration: none; }
.detHrZ .blog__image img { vertical-align: middle; width: 100%; }
.detHrZ .article--horizontal { display: -webkit-flex; }
.detHrZ .article--horizontal h3 { margin: 0px 0px 10px; }
.detHrZ .article--horizontal .blog__infos { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.detHrZ .article--horizontal .blog__image { flex: 1 1 0%; }
.detHrZ .blog__infos h3 { font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__metas { margin-bottom: 12px; font-size: 12px; }
.detHrZ .blog__metas span + span { margin-left: 10px; }
.detHrZ .blog__image.back { position: relative; overflow: hidden; max-width: 100%; max-height: 350px !important; }
.detHrZ.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.detHrZ.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-3b9a3a0b {
		text-align: center;
		 font-family: "Open Sans";
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-size: 13px;
		 letter-spacing: 0.5px;
		 padding-bottom: 1em;
	}
	.__pf .pf-9a4048de {
		text-align: center;
		 font-family: "Open Sans";
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-size: 33px;
		 padding-bottom: 0.6em;
	}
	.__pf .pf-f368aaec {
		text-align: center;
		 font-family: "Open Sans";
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-size: 13px;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-aaec6123 {
		width: 80px;
		 height: auto;
		 margin-top: 25px;
	}
	.__pf .pf-61231dcb {
		text-align: center;
	}
	.__pf .pf-48ec156d {
		line-height: 0.1em;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-4df89667 {
		font-family: "Open Sans";
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 300;
		 margin-bottom: 0px;
		 text-align: left;
	}
	.__pf .pf-677243be {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-43beb649 {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-296ba070 {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-a07054da {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
		 padding-top: 0px;
	}
	.__pf .pf-8dfdb8a2 {
		font-family: "Open Sans";
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 300;
		 margin-bottom: 0px;
		 text-align: left;
	}
	.__pf .pf-a2dea71e {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-a71eada3 {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
		 padding-top: 0px;
	}
	.__pf .pf-04516074 {
		text-align: center;
		 font-size: 24px;
		 font-family: "Open Sans";
		 font-weight: 400;
	}
	.__pf .pf-9fcf59d6 {
		margin-bottom: 15px;
	}
	.__pf .pf-fa8f0ec7 {
		font-family: "Open Sans";
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 300;
		 margin-bottom: 0px;
		 text-align: left;
	}
	.__pf .pf-c72075c4 {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-75c4c886 {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-22e35d4b {
		text-align: center;
		 font-size: 24px;
		 font-family: "Open Sans";
		 font-weight: 400;
	}
	.__pf .pf-5303a0b8 {
		margin-bottom: 15px;
	}
	.__pf .pf-5d4b4c58 {
		font-family: "Open Sans";
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 300;
		 margin-bottom: 0px;
		 text-align: left;
	}
	.__pf .pf-f35a1a58 {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-1a58773c {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-394631ae {
		text-align: center;
		 font-size: 24px;
		 font-family: "Open Sans";
		 font-weight: 400;
	}
	.__pf .pf-27547500 {
		margin-bottom: 15px;
	}
	.__pf .pf-31aeb730 {
		font-family: "Open Sans";
		 font-size: 15px;
		 line-height: 1.5em;
		 font-weight: 300;
		 margin-bottom: 0px;
		 text-align: left;
	}
	.__pf .pf-6fb6eb39 {
		color: rgb(0, 0, 0);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-eb39537c {
		line-height: 1.2em;
		 font-family: "Open Sans";
		 font-weight: 300;
	}
	.__pf .pf-5833aa42 {
		font-size: 30px;
		 margin-bottom: 0px;
	}
	.__pf .pf-42bc98d1 {
		margin-bottom: 15px;
	}
	.__pf .pf-3dcc4f31 {
		font-size: 13px;
		 font-family: "Open Sans";
	}
	.__pf .pf-770a63c5 {
		font-size: 13px;
		 font-family: "Open Sans";
		 margin-bottom: 15px;
	}
	.__pf .pf-4f31efc0 {
		text-align: center;
		 color: rgb(0, 0, 0);
		 padding-bottom: 0px;
	}
	.__pf .pf-bd62417a {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 text-align: center;
	}
	.__pf .pf-417ac9cd .blog__infos > h3 > a {
		font-family: Barlow;
		 font-size: 18px;
		 line-height: 1.5em;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-417ac9cd > div > .blog__article {
		font-family: Barlow;
		 font-size: 13px;
		 font-weight: 400;
		 color: rgb(136, 136, 136);
	}
	.__pf .pf-f971f6bb {
		background-color: rgb(248, 248, 248);
		 padding-top: 65px;
		 padding-bottom: 65px;
	}
	.__pf .pf-315c7915 > div > div:first-child {
		height: 300px;
	}
	.__pf .pf-315c7915 {
		padding-bottom: 5px;
	}
	.__pf .pf-7915f149 {
		margin-bottom: 10px;
		 font-family: "Open Sans";
		 font-weight: 600;
		 letter-spacing: 0.05em;
		 color: rgb(65, 182, 230);
	}
	.__pf .pf-567610cc {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-10ccd589 {
		font-size: 15px;
		 margin-bottom: 15px;
	}
	.__pf .pf-f14939cb {
		background-color: rgb(65, 182, 230);
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 margin-left: 15px;
		 text-transform: uppercase;
		 letter-spacing: 0.05em;
		 border-radius: 0px;
	}
	.__pf .pf-f14939cb:hover {
		background-color: rgb(0, 0, 0);
		 border-radius: 0px;
	}
	.__pf .pf-a566c261 {
		margin-bottom: 15px;
	}
	.__pf .pf-5b86c41f > div > div:first-child {
		height: 300px;
	}
	.__pf .pf-5b86c41f {
		padding-bottom: 0px;
	}
	.__pf .pf-315c1ea4 {
		margin-bottom: 10px;
		 font-family: "Open Sans";
		 font-weight: 600;
		 letter-spacing: 0.05em;
		 color: rgb(65, 182, 230);
	}
	.__pf .pf-1ea40b76 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-0b76a7a7 {
		margin-bottom: 15px;
		 font-size: 15px;
	}
	.__pf .pf-d89844ab {
		background-color: rgb(65, 182, 230);
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 margin-left: 15px;
		 text-transform: uppercase;
		 letter-spacing: 0.05em;
		 border-radius: 0px;
	}
	.__pf .pf-d89844ab:hover {
		background-color: rgb(0, 0, 0);
		 border-radius: 0px;
	}
	.__pf .pf-44ab3551 {
		margin-bottom: 15px;
	}
	.__pf .pf-e6daca63 > div > div:first-child {
		height: 300px;
	}
	.__pf .pf-e6daca63 {
		padding-bottom: 5px;
	}
	.__pf .pf-311d4865 {
		margin-bottom: 10px;
		 font-family: "Open Sans";
		 font-weight: 600;
		 letter-spacing: 0.05em;
		 color: rgb(65, 182, 230);
	}
	.__pf .pf-4865653e {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-653e014d {
		font-size: 15px;
		 margin-bottom: 15px;
	}
	.__pf .pf-37278d76 {
		background-color: rgb(65, 182, 230);
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 margin-left: 15px;
		 text-transform: uppercase;
		 letter-spacing: 0.05em;
		 border-radius: 0px;
	}
	.__pf .pf-37278d76:hover {
		background-color: rgb(0, 0, 0);
		 border-radius: 0px;
	}
	.__pf .pf-8d76a6c6 {
		margin-bottom: 15px;
	}
	.__pf .pf-74a159ff > div > div:first-child {
		height: 300px;
	}
	.__pf .pf-74a159ff {
		padding-bottom: 0px;
	}
	.__pf .pf-59ff4505 {
		margin-bottom: 10px;
		 font-family: "Open Sans";
		 font-weight: 600;
		 letter-spacing: 0.05em;
		 color: rgb(65, 182, 230);
	}
	.__pf .pf-dd101d13 {
		margin-top: 0px;
		 margin-bottom: 15px;
		 font-size: 15px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-1d1367ad {
		font-size: 15px;
		 margin-bottom: 15px;
	}
	.__pf .pf-450539ab {
		background-color: rgb(65, 182, 230);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 margin-left: 15px;
		 text-transform: uppercase;
		 letter-spacing: 0.05em;
	}
	.__pf .pf-450539ab:hover {
		background-color: rgb(0, 0, 0);
		 border-radius: 0px;
	}
	.__pf .pf-39cbb0ea {
		margin-bottom: 15px;
	}
	.__pf .pf-c882ecf5 > div > div:first-child {
		height: 300px;
	}
	.__pf .pf-c882ecf5 {
		padding-bottom: 0px;
	}
	.__pf .pf-e8091c3a {
		margin-bottom: 10px;
		 font-family: "Open Sans";
		 font-weight: 600;
		 letter-spacing: 0.05em;
		 color: rgb(65, 182, 230);
	}
	.__pf .pf-1c3adfdd {
		margin-top: 0px;
		 margin-bottom: 15px;
		 font-size: 15px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-dfdd1c50 {
		font-size: 15px;
		 margin-bottom: 15px;
	}
	.__pf .pf-1d5044b8 {
		background-color: rgb(65, 182, 230);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 margin-left: 15px;
		 text-transform: uppercase;
		 letter-spacing: 0.05em;
	}
	.__pf .pf-1d5044b8:hover {
		background-color: rgb(0, 0, 0);
		 border-radius: 0px;
	}
	.__pf .pf-44b8000d {
		margin-bottom: 15px;
	}
	.__pf .pf-39ab3a66 > div > div:first-child {
		height: 300px;
	}
	.__pf .pf-39ab3a66 {
		padding-bottom: 0px;
	}
	.__pf .pf-3a66c792 {
		margin-bottom: 10px;
		 font-family: "Open Sans";
		 font-weight: 600;
		 letter-spacing: 0.05em;
		 color: rgb(65, 182, 230);
	}
	.__pf .pf-39e378fc {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-78fc9d52 {
		margin-bottom: 15px;
		 font-size: 15px;
	}
	.__pf .pf-c792315c {
		background-color: rgb(65, 182, 230);
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 margin-left: 15px;
		 text-transform: uppercase;
		 letter-spacing: 0.05em;
		 border-radius: 0px;
	}
	.__pf .pf-c792315c:hover {
		background-color: rgb(0, 0, 0);
		 border-radius: 0px;
	}
	.__pf .pf-b0eaa566 {
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-3b9a3a0b {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-9a4048de {
		font-size: 25px;
		 padding-left: 15px;
		 padding-right: 15px;
	}
	.__pf .pf-f368aaec {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 margin-bottom: 15px;
	}
	.__pf .pf-aaec6123 {
		margin-top: 0px;
		 width: 50px;
		 height: auto;
		 margin-bottom: 15px;
	}
	.__pf .pf-1dcb48ec {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-48ec156d {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-4df89667 {
		margin-bottom: 0px;
		 font-size: 16px;
	}
	.__pf .pf-677243be {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-43beb649 {
		padding-bottom: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-296ba070 {
		margin: 15px 5px;
	}
	.__pf .pf-a07054da {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-8dfdb8a2 {
		margin-bottom: 0px;
		 font-size: 16px;
	}
	.__pf .pf-a2dea71e {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-a71eada3 {
		padding-bottom: 15px;
		 padding-top: 0px;
	}
	.__pf .pf-04516074 {
		font-size: 22px;
	}
	.__pf .pf-fa8f0ec7 {
		margin-bottom: 0px;
		 font-size: 16px;
	}
	.__pf .pf-c72075c4 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-75c4c886 {
		padding-bottom: 0px;
		 padding-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-22e35d4b {
		font-size: 22px;
	}
	.__pf .pf-5d4b4c58 {
		margin-bottom: 0px;
		 font-size: 16px;
	}
	.__pf .pf-f35a1a58 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-1a58773c {
		padding-bottom: 15px;
		 padding-top: 0px;
	}
	.__pf .pf-394631ae {
		font-size: 22px;
	}
	.__pf .pf-31aeb730 {
		margin-bottom: 0px;
		 font-size: 16px;
	}
	.__pf .pf-6fb6eb39 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-eb39537c {
		padding-bottom: 15px;
		 padding-top: 0px;
	}
	.__pf .pf-5833aa42 {
		font-size: 22px;
	}
	.__pf .pf-42bc98d1 {
		margin-bottom: 0px;
	}
	.__pf .pf-f971f6bb {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-f14939cb {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-d89844ab {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-37278d76 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-450539ab {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-1d5044b8 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-c792315c {
		margin-left: 15px;
		 margin-top: 15px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-3b9a3a0b {
		font-size: 14px;
	}
	.__pf .pf-9a4048de {
		font-size: 33px;
	}
	.__pf .pf-f368aaec {
		font-size: 14px;
	}
	.__pf .pf-48ec156d {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-43beb649 {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-a07054da {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-a71eada3 {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-75c4c886 {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-1a58773c {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-eb39537c {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-5b86c41f > div > div:first-child {
		height: 300px;
	}
	.__pf .pf-39ab3a66 > div > div:first-child {
		height: 300px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-677243be {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-296ba070 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-a2dea71e {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-c72075c4 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-f35a1a58 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-6fb6eb39 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-f14939cb {
		margin-left: 15px;
	}
	.__pf .pf-f14939cb:hover {
		text-align: center;
	}
	.__pf .pf-d89844ab {
		margin-left: 15px;
	}
	.__pf .pf-d89844ab:hover {
		text-align: center;
	}
	.__pf .pf-37278d76 {
		margin-left: 15px;
	}
	.__pf .pf-37278d76:hover {
		text-align: center;
	}
	.__pf .pf-450539ab {
		margin-left: 15px;
	}
	.__pf .pf-450539ab:hover {
		text-align: center;
	}
	.__pf .pf-1d5044b8 {
		margin-left: 15px;
	}
	.__pf .pf-1d5044b8:hover {
		text-align: center;
	}
	.__pf .pf-c792315c {
		margin-left: 15px;
	}
	.__pf .pf-c792315c:hover {
		text-align: center;
	}
}
						