<div id="our_story">
  {% section 'story_header' %}
  
  <div id="content" class="container">
    {{ page.content }}
  </div>
  
  {% section 'story_why' %}
  
  {% section 'story_timeline' %}
</div>
